<!DOCTYPE html>
<html>
  <head>
    <title>Cantpawsthis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/posts">Posts</a>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    footer
    </footer>
  </body>
</html>
